@-webkit-keyframes entrada {
    0%{
      margin-top: 150%;
    }
    60%{
      margin-top: -5%;
    }
    100%{
      margin-top: 0%
    }
}

body{
  margin: 1em auto;
  background: black;
  font-family: 'Dancing Script';
  max-width: 900px;
}

header{
  animation: entrada 1s;
	margin: 0 auto;
	height: auto;
  padding: 1em;
  width: 100%;
  background-color: #5b7989;
	color:white;
  border-radius: 10px 10px 0px 0px;
  box-sizing: border-box;
  float:left;
  display: flex;
  flex-flow: nowrap;
}

#nombrepag{
    font-size: 25px;
    text-shadow: 2px 1px #02010a;
    width: 50%;
}

#navegador{
  width: 50%;
  display: flex;
  flex-flow: row;
}

#navegador1>a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 2em;
  width: 25%;
}

#navegador2>a {
  font-size: 20px;
  color: white;
  padding: 2em;
  width: 25%;
}

#navegador3>a {
  font-size: 20px;
  color: white;
  padding: 2em;
  width: 25%;
}

section>article{
  box-sizing: border-box;
	float:left;
	height: auto;
	background-color: grey;
	padding: 2%;
	text-align: center;
}

section>article>a{
  font-size: 20px;
  color: black
}

article>img{
  filter: drop-shadow(2px 2px 2px #02010a);
}

article>a>img{
  filter: drop-shadow(2px 2px 2px #02010a);
}

#central	{
	background-color: #82c3a6;
	width: 100%;
}

#fotolago1 {
  width: 90%;
}

#secundaria1	{
	background-color: #d5c75f;
	width: 50%;
}

#fotopaisajemain{
  border: 1px solid black;
  width: 90%;
}

@-webkit-keyframes fotopaisaje {
  0%{transform: rotate(0deg);
  }
  25%{transform: rotate(10deg);
  }
  50%{transform: rotate(0deg);
  }
  75%{transform: rotate(-10deg);
  }
  100%{transform: rotate(0deg);
  }
}

#fotopaisajemain:hover{
  animation: fotopaisaje 1s infinite;
}

#secundaria2	{
  background-color: #d5c75f;
	width: 50%;

}

#fotoretratomain{
  border: 1px solid black;
  width: 90%;
}

#fotoretratomain:hover{
  transform: translate(20px, -5px);
}

footer{
  font-size: 18px;
  width: 100%;
  height: auto;
  padding-bottom: 1em;
  background-color: #C6d5c5;
  color:black;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-flow: nowrap;
}

.footer>div>p{
  font-size: 15px;
}

.footer>article>a{
  font-size: 20px;
}

#contacto{
  text-align: left;
  width: 100%;
  padding: 1em;
}

#contacto>p>a{
  text-decoration: none;
  color: black;

}

#terminos{
  width: 100%;
  padding: 1em;
}

#terminos>a{
  text-decoration: none;
  color: black;

}

#rrss{
  width: 100%;
  padding: 1em;
}

#rrss>a{
  text-decoration: none;
  color: black;

}

#logofb{
  transform: translateY(10px);
}

#logoinsta{
  transform: translateY(10px);
}

#logotwit{
  transform: translateY(10px);
}

#derechos{
  width: 100%;
  padding: 1em;
}

@media screen and (max-width: 900px)  {
  header{
    flex-flow: wrap;
  }
  #nombrepag{
    text-align: center;
    width: 100%;
  }
  #navegador{
    justify-content: center;
    width: 100%;
  }

  #secundaria1 {
    width: 100%;
  }

  #secundaria2 {
    width: 100%;
  }
  footer{
    flex-flow: wrap;
  }
  #contacto {
    width: 100%;
  }
  #terminos {
    width: 100%;
  }
  #rrss {
    width: 100%;
  }
  #derechos {
    width: 100%;
  }
}
