body{
  margin: 1em;
  background: black;
  font-family: 'Dancing Script', cursive;
}

header
{
  display: flex;
	margin: 0 auto;
	height: 10px;
	padding-top: 1em;
	padding-bottom: 2em;
  background-color: #5b7989;
	color:white;
  border-radius: 10px 10px 0px 0px;
  flex-flow: row;
}

.nombrepag{
    font-size: 25px;
    text-shadow: 2px 1px #02010a;
    width: 50%;
}

.navegador{
  width: 50%;
  display: flex;
  flex-flow: wrap;
}

.navegador1>a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 2em;
}

.navegador2>a {
  text-decoration: underline;
  font-size: 20px;
  color: white;
  padding: 2em;
}

.navegador3>a {
  text-decoration: underline;
  font-size: 20px;
  color: white;
  padding: 2em;
}


footer{
  font-size: 20px;
  height: auto;
  padding-bottom: 1em;
  background-color: #C6d5c5;
  color:black;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-flow: row;
}

.footer>div>p{
  font-size: 30px;
}

.footer>div>a{
  font-size: 30px;
}

.contacto{
  text-align: left;
  width: 25%;
  padding: 1em;
}

.contacto>p>a{
  text-decoration: none;
  color: black;

}


.terminos{
  width: 25%;
  padding: 1em;
}

.terminos>a{
  text-decoration: none;
  color: black;

}

.rrss{
  width: 25%;
  padding: 1em;
}

.rrss>a{
  text-decoration: none;
  color: black;

}

#logofb{
  transform: translateY(10px);
}

#logoinsta{
  transform: translateY(10px);
}

#logotwit{
  transform: translateY(10px);
}

.derechos{
  width: 25%;
  padding: 1em;
}
